<% @barber_shops.each do |b| %>
  <%= b.name %>
  <%= b.address %>
  <%= b.number %>
  <%= b.description %>
  <%= b.status %>
  <%= b.rating %>
<% end %>


<%-# <%= image_tag(b.picture)  -%>
<h1>Listing Tasks</h1>
    <div class="tasks">
    <%= render @barber_shops %>
    </div>

<!-- activates events in hello.js -->
  <sript src="hello2.js"></script>
    <<sty></sty>>

    <body>
      <a href="url"></a>
        <div>div 1</div>
        <div>div 1</div>
    </body>
